.authentication-text-field {
  -fx-text-fill: white;
}

.authentication-text-field:focused {
  -fx-border-color: #77a7ff !important;
}

.radio-button:selected .radio .dot {
  -fx-background-color: #0770e3;
  -fx-background-insets: 0;
}