.authentication-text-field {
    -fx-text-fill: white;
}

.authentication-text-field:focused {
    -fx-border-color: #77a7ff !important;
}

.root-background {
    -fx-background-image: url("udaan-main-background.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center;
}